<footer class="foot bg-dark text-center text-white">
  <!-- Grid container for footer content -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media icons -->
    <section class="mb-4">

      <!-- Twitter icon -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram icon -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin icon -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github icon -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
      ><i class="fab fa-github"></i
        ></a>
      </section>
    <!-- End of social media section -->
  </div>
  <!-- End of grid container -->
  
  <!-- Copyright section -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:
    <a class="text-white" href="#">@shivam</a>
  </div>
  <!-- End of copyright section -->
</footer>
